NET_ID=1029
HTTP_RPC_URL="https://pre-rpc.bt.io"

# DNS settings
APP_PORT=8000

# without 0x prefix
PRIVATE_KEY=
# 0.05 means 0.05%
REGULAR_SHIELDING_WITHDRAW_FEE=0.05
CONFIRMATIONS=4

# in GWEI
MAX_GAS_PRICE=1000000
BASE_FEE_RESERVE_PERCENTAGE=25
